.footer {
  padding: 45px 0 20px;
  background-color: $black50;
  color: $white100;

  &__inner {
    display: flex;
    gap: 40px;
  }

  &__columns {
    margin-left: auto;
    display: flex;
    gap: 100px;
    margin-bottom: 40px;
  }

  &__column {
    @include flex-column(22);
  }

  &__links {
    @include flex-column(11);
  }

  &__link {
    color: rgba($white100, .85);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    transition: color .4s, border .4s;

    &:hover {
      color: $accent;
    }

    &:focus {
      border-color: $accent;
      color: $white100;
    }
  }

  &__subtitle {
    font-size: 20px;
  }

  &__author {
    text-align: center;
    font-size: 16px;
    color: rgba($white100, .6);
    font-weight: 500;
  }

  &__socials {
    @include flex-align-center(14);
  }

  &__social {
    @include flex-center;
    width: 46px;
    height: 46px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: background-color .4s, border .4s;

    &:hover {
      svg path {
        fill: rgba($white100, .7);
      }
    }

    &:focus {
      background-color: $accent;
      svg path {
        fill: $white;
      }
    }

    svg.transform {
      transform: translateX(-2px);
    }

    svg.y.transform {
      transform: translateY(2px) translateX(-2px);
    }
  }
}