.footer {
  padding: 50px 0 25px;
  @include r($sm) {
    padding-top: 40px;
    padding-bottom: 19px;
  }

  &__inner {
    display: flex;
    gap: 60px;
    margin-bottom: 70px;
    @include r($lg) {
      align-items: center;
      flex-direction: column;
      gap: 30px;
    }
    @media (max-width: 560px) {
      align-items: flex-start;
    }
  }

  &__logo {
    @media (max-width: 560px) {
      margin-left: auto;
    }
  }

  &__columns {
    margin-left: 140px;
    display: flex;
    gap: 120px;
    @include r($desktop) {
      margin-left: 100px;
      gap: 90px;
    }
    @media (max-width: 1140px) {
      margin-left: 50px;
    }
    @include r($lg) {
      margin-left: 0;
      text-align: center;
    }
    @media (max-width: 560px) {
      text-align: left;
      margin-top: -73px;
    }
    @media (max-width: 430px) {
      gap: 60px;
      flex-direction: column;
    }
  }

  &__column {
    @include flex-column(18);
    @include r($lg) {
      gap: 22px;
    }

    &-name {
      font-size: 18px;
    }
  }

  &__list {
    @include flex-column(22);
    margin-left: -3px;
  }

  &__link {
    font-size: 18px;
    color: rgba($white, .75);
    padding: 1px 3px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: color .4s, border .4s;

    &:hover {
      color: $accent;
    }

    &:focus {
      border-color: $accent;
      color: $white;
    }
  }

  &__form {
    max-width: 340px;
    width: 100%;
    margin-left: auto;
    @include r($lg) {
      flex-shrink: 1;
      margin-top: 25px;
      margin-left: 0;
    }
    @media (max-width: 560px) {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  &__send {
    @include flex-center;
    padding: 2px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: color .4s, border .4s;

    &:hover {
      svg path {
        stroke: $white;
      }
    }

    &:focus {
      border-color: $accent;

      svg path {
        stroke: $white;
      }
    }
  }

  &__subtitle {
    font-size: 20px;
    display: block;
    margin-bottom: 36px;
    @include r($lg) {
      text-align: center;
    }
    @media (max-width: 560px) {
      text-align: left;
    }
  }

  &__head {
    @include flex-between-center-gap(20);
  }

  &__info {
    @include flex-column(24);
    text-align: center;
    @include r($lg) {
      gap: 16px;
    }
  }

  &__social {
    @include flex-center;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border .4s;

    &:hover {
      svg path {
        fill: $accent;
      }
    }

    &:focus {
      border-color: $accent;

      svg path {
        fill: $white;
      }
    }
  }
}