.input {
  padding: 16px 16px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  color: $black50;
  background-color: #E7E7E7;
  border: 1px solid rgba($black50, .4);
  transition: border .4s, color .4s;

  &:hover {
    border-color: $accent;
  }

  &:focus {
    border-color: $accent;
  }
}

.label {
  display: block;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 9px;
}