.header {
  margin: 30px 0 120px;

  &__inner {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }

  &__logo, &__right {
    max-width: 270px;
    width: 100%;
  }

  &__list {
    @include flex-align-center(27);
  }

  &__link {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1px 2px;
    transition: color .4s, border .4s;

    &:hover {
      color: rgba($black50, .6);
    }

    &:focus {
      color: $black50;
      border-color: $accent;
    }
  }

  &__right {
    @include flex-align-center(30);
    align-items: center;
    justify-content: flex-end;
  }

  &__search-btn {
    @include flex-center;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: border .4s, background-color .4s;

    &:hover {
      svg path {
        stroke: $accent;
      }
    }

    &:focus {
      border-color: $accent;
    }
  }
}